.cardW {
    height: 150px;
    width: 300px;
    perspective: 1000px;
    overflow: hidden;
    transition: transform 0.3s;
}

.icon {
    display: flex;
    align-items: flex-start;
    height: 24px;
    width: 24px;
    margin-top: 7px;
    margin-right: 7px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text {
    display: flex;
    flex-direction: column;
}

.flexModal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.textModal {
    display: flex;
    flex-direction: column;
}

.text h2 {
    margin: 0;
}

.text p {
    margin: 0;
}


