.card {
    height: 300px;
    width: 200px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0 !important;
}

.cardImage {
    height: 100%;
    width: 100%;
}

.cardModal {
    padding: 0 !important;
}

.text {
    margin-left: 20px;
}

.text h2 {
    margin: 0;
}

.card:hover {
    transform: scale(1.1);
}